/*========================
Declare variables at top
=========================*/
:root{
  --white: #FFF;  
}

/*===============================
Common CSS Styles
================================*/

/*=====================
Basic Styles 
======================*/
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  margin: 0;
}
 
/*=================================
MEDIA QUERIES
==================================*/
@media print {
}

 @media screen and ( max-width : 768px ) {
   
}
